.git
.cursor
**/.DS_Store
**/node_modules
**/vendor
**/coverage
**/.phpunit.cache
**/.infection
**/.svelte-kit
**/.stryker-tmp
frontend/reports
backend/infection.log
backend/infection.html
data
.env
backend/.env
*.md
docs
LICENSE
